.page-bg {
  background-image: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  padding-top: 10px;

}

#search-button {
  border-radius: 3px;
}

#current-location-button {
  border-radius: 3px;
}

h2 {
  padding-top: 15px;
}

h3 {
  font-size: 20px;
  padding: 30px;
}

li {
  list-style: none;
}

.forecast-date {
  font-weight: bolder;
}

.weather-forecast {
  margin: auto;
  padding: 50px;
}

.weather-forecast-temp-max {
  font-size: 14px;
}

.weather-forecast-temp-min {
  font-size: 14px;
  opacity: .6;
}

footer {
  text-align: center;
  font-size: smaller;
  font-family: cursive;
  color: black;
  padding-top: 5px;
}