.container {
  padding-top: 10px;
}

h2 {
  padding-top: 15px;
}

h3 {
  font-size: 20px;
}

li {
  list-style: none;
}

.weather-forecast {
  padding: 5px;
}



.signature {
  margin-top: 50px;
  padding: 50px;
}